.footer {
    background-color: rgba(199, 199, 154, 0.564);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    backdrop-filter: blur(10px);

}


